<h1>Bonjour ! VBeuiller confirmer votre email !</h1>

<p>
	Veuillez confirmer votre adresse mail en cliquant sur ce lien :
	<br><br>
	<a href="{{ signedUrl|raw }}">Confirmer votre email</a>.
				    Ce lien va expirer dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	Merci !
</p>
